# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# =========================
# Virtual Environment
# =========================
venv/
.env
.env.*
.env.example

# =========================
# ML Models & Data
# =========================
models/
data/
*.pkl
*.joblib

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Docker
# =========================
*.tar
